<footer>
     <div class="wrapper">
       <nav>
          <ul>
              <li><span>© 2019 Five Dudes in a Dungeon</span></li>
              <li><a href="index.html">About</a></li>
              <li><a href="index.html">Contact</a></li>
              <li><a href="index.html">API</a></li>
              <li><a href="index.html">Security</a></li>
              <li><a href="index.html">Terms</a></li>
              <li><a href="index.html">Privacy</a></li>
              <li><a href="index.html">Help</a></li>
          </ul>
      </nav>
     </div>
</footer>