footer{
    background: #424242;
    margin: 0 auto;
    height: 30px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

footer ul{
  margin: 0px;
  padding: 00px;
}

footer li {
    list-style-type: none;
    line-height: 9px;
    border-right: 1px solid #ffffff;
    padding: 0px 10px;
    display:inline-block;
}

footer li a{
    text-decoration: none;
    color: #c4c4c4;
    font-size: 13px;
}

footer li:last-child { 
    border-right: none; 
}

footer li a:hover {
    color:#ffffff;
  }