<mat-card [formGroup]="addGames">
  <mat-card-title>Add Game To Website</mat-card-title>
  <mat-form-field>
    <input id="title" matInput placeholder="Game Title" formControlName="title" class="form-control" type="text" required>
    <mat-error *ngIf="(title.dirty || title.touched) && title.invalid">Title required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input id="company" matInput placeholder="Publisher" formControlName="company" class="form-control" type="text" required>
    <mat-error *ngIf="(company.dirty || company.touched) && company.invalid">Company required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input id="releaseYear" matInput placeholder="Release Year" formControlName="releaseYear" class="form-control" type="text" required>
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="addGame()" color="primary">Add Game</button>
  </mat-card-actions>
</mat-card>
