<p>
  home works!
</p>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<ul>

  <li><a href="/404"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
  <li><a href="/404"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  <li><a href="/404"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  <li><a href="/404"><i class="fa fa-github" aria-hidden="true"></i></a></li>

</ul>
