.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.video{
  grid-column: 3 / 4;
  grid-row: 2/ 4;

}

video {
  height: 100vh;
}
