  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rank</mat-header-cell>>
      <mat-cell *matCellDef="let games">{{games.rank}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>>
      <mat-cell *matCellDef="let games">{{games.title}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Genre</mat-header-cell>>
      <mat-cell *matCellDef="let games">{{games.genre}}</mat-cell>>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>>
        <mat-cell *matCellDef="let games">{{games.company}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rating</mat-header-cell>>
      <mat-cell *matCellDef="let games">{{games.averageRating}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="100" [pageSize]="10" [showFirstLastButtons]></mat-paginator>

