input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: white;
  outline: none;
}
label{
  color: white;
}

textarea {
  width: 525px;
  height: 150px;
}
h1{
  color: white;
}
p{
  color: white;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
hr {
  width: 100px;
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.container {
  max-width: 500px;
  margin: auto;
}
