/* Width of the searchField
.container {
  width: 500px;
}
*/
input[type=text] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input[type=text]:focus {
  border-color: #00ff33;
  box-shadow: 0 0 8px 0 #00ff33;
}

.searchFieldAndIcon input[type=text] {
  padding-left: 40px;
}

.searchFieldAndIcon {
  position: relative;
}

.searchFieldAndIcon i {
  position: absolute;
  left: 0px;
  top: 8px;
  padding: 7px 8px;
  color: #ffffff;
  transition: .3s;

}

.searchFieldAndIcon input[type=text]:focus + i {
  color: #00ff33;
}

.searchFieldAndIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 16px 10px;
  border-radius: 4px 0 0 4px;
}

.searchFieldAndIcon.inputIconBg input[type=text]:focus + i {
  color: #fff;
  background-color: #00ff33;
}

