<div class="container">

      <img mat-card-image src="../../../assets/images/{{image}}.jpg"/>

    <div class="första">
    <mat-card> Title : {{response.title}}</mat-card>
    </div>
    <div class="andra">
    <mat-card> Company : {{response.company}}</mat-card>
    </div>
    <div class="tredje">
    <mat-card> Release Year : {{response.company.city}}</mat-card>
    </div>
    <div class="tredje">
        <mat-card> Rating : {{response.company.city}}</mat-card>
        </div>
</div>

console.log({{response.title}}); <br>
console.log({{response.company}}); <br>
console.log({{response.releaseDate}}); <br>

