.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.image{
  grid-column: 4 / 6;
  grid-row: 2 / 8;

}

.title {
  grid-column: 4 / 12;
  grid-row: 1 / 1;
  align-self: end;
}

/*
.releaseDate {
  grid-column: 6 / 8;
  grid-row: 2 / 2;
}
*/
.rating {
  grid-column: 6 / 12;
  grid-row: 2 / 2;
}

.star {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
  align-self: end;
}

.description {
  grid-column: 6 / 10;
  grid-row: 3 / 3;
}
