<div class="rubrik">
  <mat-card-title>Welcome to Community Rates Games</mat-card-title>
  <mat-divider></mat-divider>
</div>
<div class="container">
<div class="lista">
  <mat-card class="example-game">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mario Cart</mat-card-title>
      <mat-card-subtitle>Nintendo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/mariocart.jpg" alt="Photo of Nintendo">
    <mat-card-content>
      <p>
        Mario Kart är en spelserie som utvecklas och ges ut av Nintendo.
        Det första spelet var Super Mario Kart som kom ut 1992 till Super Nintendo Entertainment System, och sedan dess har det kommit ett Mario Kart-spel till alla Nintendos konsoler.
        Hittills har det släppts tio spel i serien, varav åtta räknas till huvudserien.
        Fem spel är för stationära konsoler och tre för bärbara konsoler samt två arkadspel.
        Den senaste installationen i serien är Mario Kart 8 Deluxe till Nintendo Switch, som släpptes 6 januari 1921.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Rate</button>
      <button mat-button>Review/Comment</button>
    </mat-card-actions>
  </mat-card>
</div>
<div class = "lista2">
<mat-card class="example-game">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>Spyro</mat-card-title>
    <mat-card-subtitle>Activision</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/spyro.jpg">
  <mat-card-content>
    <p>
      Spyro är en serie plattformsspel med den lilafärgade draken Spyro i huvudrollen. De första spelen, som släpptes exklusivt till Playstation, släpptes av Sony Computer Entertainment och utvecklades av Insomniac Games.

      Activision tog sedan[när?] över serien och började producera spel under namnet Skylanders.[källa behövs]

      Spelserien har sålt över 20 miljoner exemplar världen över.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Rate</button>
    <button mat-button>Review/Comment</button>
  </mat-card-actions>
</mat-card>
</div>
  <div class = "lista3">
    <mat-card class="example-game">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title>Halo</mat-card-title>
        <mat-card-subtitle>Bungie/Microsoft Game Studios</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/images/halo.jpg">
      <mat-card-content>
        <p>
          Halo är en science fiction-spelsserie, som hittills består av sex förstapersonsskjutare (och en expansion och nyversion av det första spelet Halo: Combat Evolved) och ett strategispel.
          Halo skapades av Bungie Studios, men ägs och distribueras av Microsoft Game Studios.
          Efter 2010 köptes rättigheterna till Halo av 343 Industries, som sedan fortsatte utveckla serien.
          Spelserien har sålt i runt 30 miljoner exemplar och räknas bland de mest framgångsrika förstapersonsskjutarna någonsin.
          Spelen är särskilt berömda för onlineläget.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Rate</button>
        <button mat-button>Review/Comment</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
