<mat-card [formGroup]="userDetails">
  <mat-card-title>Edit user</mat-card-title>

  <mat-form-field>
    <input id="mail" matInput placeholder="Email" formControlName="mail" class="form-control" type="mail">
    <mat-error *ngIf="(mail.dirty || mail.touched) && mail.invalid">Email required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input id="name" matInput placeholder="Username" formControlName="name">
    <mat-error *ngIf="(name.dirty || name.touched) && name.invalid">Username required</mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="action">
    <mat-radio-button name="action" color="primary" value="1">Update</mat-radio-button>
    <mat-radio-button name="action" color="primary" value="2">Delete</mat-radio-button>
  </mat-radio-group>

  <mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" color="primary">Send</button>
  </mat-card-actions>
</mat-card>
