.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 18rem;
}

input {
  width: 15rem;
  height: 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: #9c27b0;
}

mat-card {
  margin-top: 5rem;
  margin-left: 20rem;
  width: 20rem;
}

span {
  color: red;
}
