.wrapper {
  display: grid;
  grid-gap: 20px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.titleForLoggedInUsers {
  font-family:arial;
  font-size: 17px;
  letter-spacing: 3px;
  text-shadow: 0.2px 0.2px whitesmoke;
  text-align: center;
}









/**
    SOCIAL MEDIA
 */

ul {
  display: flex;
  position: relative;
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 27px;
  margin: 010px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #ffffff;
  z-index: 1;
}

ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #ff0000;
}

ul li:nth-child(2) a:before {
  background: #3b5998;
}

ul li:nth-child(3) a:before {
  background: #c32aa3;
}

ul li:nth-child(4) a:before {
  background: #333;
}

.bottomFooter {
  font-size: 0.9em;
  position: relative;
  width: 100%;
  height: 110px;
  color: #ffffff;
}
.bottomFooter {
  font-size: 0.9em;
  position: relative;
  width: 100%;
  height: 110px;
  right: -10px;
  color: #ffffff;
}
