.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #7F8181;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #3B3E3D;
}

.loginRegister {
  flex: 1 1 auto;
}

.mainTitles {
  text-align: center;
  display: inline-block;
  margin: 0 150px;
  text-decoration: none;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #f5f5f5;
  text-decoration: none;
}

.inner-content {
  color: white;
  position: absolute;
  bottom: 10%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7F8181;
  text-align: center;
  opacity: 0.7;
}

/**
FOOTER
**/

ul {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 27px;
  margin: 010px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #ffffff;
  z-index: 1;
}

ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #ff0000;
}

ul li:nth-child(2) a:before {
  background: #3b5998;
}

ul li:nth-child(3) a:before {
  background: #c32aa3;
}

ul li:nth-child(4) a:before {
  background: orange;
}

.bottomFooter {
  position: relative;
  width: 100%;
  height: 110px;
  right: 450px;
  color: #ffffff;
}
