<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper">
<mat-toolbar color="primary" class="mat-elevation-z8 header">
  <button mat-raised-button color="primary" (click)="logInOut()">{{buttonText}}</button>

  <button mat-button *ngIf="isLoggedIn$ | async" [matMenuTriggerFor]="user"><mat-icon>face</mat-icon><span class="aligned-with-icon">{{name}}</span></button>

  <button mat-button *ngIf="isLoggedInAdmin$ | async" [matMenuTriggerFor]="admin"><mat-icon>face</mat-icon><span class="aligned-with-icon">{{name}}</span></button>

  <mat-menu #admin="matMenu">
    <span>ADMIN</span>
  </mat-menu>

  <mat-menu #user="matMenu">

    <div class="titleForLoggedInUsers">
    <span>ACCOUNT</span>
    </div>

    <hr>
    <button mat-menu-item routerLink="user/profile">       <mat-icon>account_circle</mat-icon>             Profile</button>
    <button mat-menu-item routerLink="user/my-games">      <mat-icon>favorite</mat-icon>                   My Games</button>

    <hr>
    <div class="titleForLoggedInUsers">
    <span class="titleForLoggedInUsers">COMMUNITY</span>
    </div>
    <hr>

    <button mat-menu-item routerLink="user/add-a-game">    <mat-icon>thumb_up_alt</mat-icon>               Add Game</button>
    <button mat-menu-item routerLink="user/report-a-bug">  <mat-icon>bug_report</mat-icon>                 Report a Bug</button>
    <button mat-menu-item routerLink="user/contact">       <mat-icon>contact_support</mat-icon>            Contact</button>
  </mat-menu>

  <button mat-button routerLink=""> <mat-icon>home</mat-icon><span class="aligned-with-icon">              Home</span> </button>

  <button mat-button [matMenuTriggerFor]="games">
    <mat-icon>games</mat-icon><span class="aligned-with-icon">Games</span>
  </button>
  <mat-menu #games="matMenu">
    <button mat-menu-item routerLink="game/rating">       <mat-icon>star_border</mat-icon>                 Rating</button>
    <button mat-menu-item routerLink="game/platform">     <mat-icon>videogame_asset</mat-icon>             Platform</button>
    <button mat-menu-item routerLink="game/top100">       <mat-icon>signal_cellular_alt</mat-icon>         Top 100</button>
  </mat-menu>

  <span class="fill-remaining-space"><app-searchgame></app-searchgame></span>
      <span>
        <ul>
            <li><a href="/404">     <i class="fa fa-youtube"      aria-hidden="true"></i></a></li>
            <li><a href="/404">     <i class="fa fa-facebook"     aria-hidden="true"></i></a></li>
            <li><a href="/404">     <i class="fa fa-instagram"    aria-hidden="true"></i></a></li>
            <li><a href="/404">     <i class="fa fa-github"       aria-hidden="true"></i></a></li>
        </ul>
      </span>
  <span id="logo">LOGOTYPE</span>


</mat-toolbar>
</div>
