.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loginRegister {
  flex: 1 1 auto;
}

.mainTitles {
  text-align: center;
  display: inline-block;
  margin: 0 150px;
  color: white;
  text-decoration: none;
}
mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
