.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 65px;
}

/* Grid Positioning */
.signIn {
  justify-self: center;
  grid-column: 1/1;
}

.titleForLoggedInUsers {
  justify-self: start;
  align-self: center;
  grid-column: 2/2;
  font-family: arial;
  font-size: 17px;
  letter-spacing: 3px;
  text-shadow: 0.2px 0.2px whitesmoke;
  text-align: center;
}

.navigationButtonHome {
  justify-self: end;
  align-self: center;
  grid-column: 3/3;
  grid-row: 1/1;
}

.navigationButtonGame {
  justify-self: start;
  align-self: center;
  grid-column: 4/4;
  grid-row: 1/1;

}

.searchBar {
  grid-column: 5/8;
  grid-row: 1/1;
}

.social {
  align-self: center;
  align-self: center;
  grid-column: 10/11;
  grid-row: 1/2;
}

.logo {
  align-self: end;
  align-self: center;
  grid-column: 12/12;
  grid-row: 1/1;
}

/**
    SOCIAL MEDIA
 */

ul {
  display: flex;
}

ul li {
  list-style: none;
}

ul li a {
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 27px;
  margin: 010px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #ffffff;
  z-index: 1;
}

ul li a .fa {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

ul li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

ul li a:hover:before {
  top: 0;
}

ul li:nth-child(1) a:before {
  background: #ff0000;
}

ul li:nth-child(2) a:before {
  background: #3b5998;
}

ul li:nth-child(3) a:before {
  background: #c32aa3;
}

ul li:nth-child(4) a:before {
  background: #333;
}
